{% extends 'webapp/header.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <br>
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class=""border-bottom mb-4'> Log In </legend>
            {{ form|crispy }}
        </fieldset>
<br>
                <button style="background-color:darkcyan; color:blue" class="btn btn-outline-info" type="submit">Login</button>

    </form>
<br><br>
    New User? <a href="{% url 'register' %}" ><strong>Sign Up</strong></a> instead.
<br><br>
{% endblock %}