{% extends "webapp/header.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">

      <div class="media">
      <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" alt="profile_pic" style="width:100px;height:100px;">
        </div>
          <div class="media-body">
          <h2 class="account-heading">User Name : {{ user.username }}</h2>
          <p class="text-secondary">E-mail : {{ user.email }}</p>
            <p class="text-secondary">First Name : {{ user.first_name }}</p>
            <p class="text-secondary">Last Name : {{ user.last_name }}</p>
        </div>
      <!-- FORM HERE -->
    <form method="POST" enctype="multipart/form-data">

        {% csrf_token %}
        <fieldset class="form-group">
        {{ u_form|crispy }}
        {{ p_form|crispy }}
        </fieldset>
        <button style="background-color:darkcyan; color:greenyellow" class="btn btn-outline-info" type="submit">Update</button>
<br><br>

    </form>
    </div>
{% endblock content %}
