<!DOCTYPE html>
<html lang="en">

<head>
	<title>Welcome</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'webapp/css/bootstrap.min.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">

	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
</head>

<body class="body" style="background-color:#f6f6f6">



	<div class="container-fluid" style="min-height:50%; ">
		<div class="row">
			  <div class="col-sm-2">
				  <br>
				  <center>
					<img src="{% static 'webapp/img/profile.jpg' %}" class="responsive-img" style='max-height:100px;' alt="image">
				  </center>
			  </div>
			  <div class="col-sm-11">

                  <!--<div class="well bs-sidebar affix" id="sidebar" style="background-color:#fff">-->
			<div  style="background-color:#fff">
                <center>
				<a href='/'>Home</a>
				<a href='/admin/'>Admin</a>
				<a href='/blog/'>Blog</a>

             {% if user.is_authenticated %}
                <a href='/logout'>Logout</a>
                  <a href='/profile'>Profile</a>
             {% else %}
                <a href='/login'>Login</a>
				<a href='/register/'>register</a>
             {% endif %}

			  </center>
			</div> <!--well bs-sidebar affix-->
			  </div>
		</div><hr>

		<div class="row">
		  <div class="col-sm-2">
		  <br>

		  <br>
		   <!-- Great, til you resize. -->

		  </div> <!--col-sm-2-->
		  <div class="col-sm-50">

			<div class='container-fluid'>
			<br><br>

            {% if messages %}
              {% for msg in messages %}
            <div class ="alert alert-{{ msg.tag }}">
                {{ msg }}
            </div>
               {% endfor %}
                {% endif %}

			   {% block content %}
			   {% endblock %}
			</div>
		  </div>
		</div>
	</div>
	<br><hr>
    <br>
    <br>
    <footer>
		<div class="container-fluid" style='margin-left:300px'>
			<p><a href='/contact/'>Contact@whatsapp</a> | <a href="https://github.com/django-webapp/webapp" target="blank">GitHub</a> | <a href="#" target="blank">LinkedIN</a> | <a href="#" target="blank">Google+</a>
                | <a href="mailto:someone@gmail.com" target="blank">webapp@support.com</a></p>

		</div>
	</footer>
<hr>
</body>

</html>

